<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Decimal to Two's Complement Converter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

		<meta name="author" content="Joshua Westerheide"/>

		<link rel="stylesheet" href="assets/vendor/material-design-lite/material.min.css">
		<link href="assets/dist/styles/app.css" rel="stylesheet" media="all"/>
		<script defer src="assets/vendor/material-design-lite/material.min.js" type="text/javascript"></script>
		<script src="assets/vendor/vue/dist/vue.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="page-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
			<header class="page-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
				<div class="mdl-layout__header-row">
					<span class="mdl-layout-title">Decimal to two's complement</span>
				</div>
			</header>
			<div class="page-background"></div>
			<main class="page mdl-layout__content">
				<div class="page-container mdl-grid">
					<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
					<div class="page-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
						<h3>Converter</h3>
						<p>
							Enter a decimal number which should be converted into <a href="https://en.wikipedia.org/wiki/Two's_complement">two's complement</a>
							in binary, octal and hexadecimal format. The number has to match <code>(\+|-)?(0|[1-9]+[0-9]*)</code>.
							You may also define a word length (in bits) in the second form.
						</p>
						<div id="app">
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--2-col">Input:</div>
								<div class="mdl-cell mdl-cell--10-col">
									<form action="#" id="convert-form">
										<div class="mdl-grid app-grid">
											<div class="mdl-cell mdl-cell--10-col">
												<div class="mdl-textfield mdl-js-textfield">
													<input class="mdl-textfield__input" type="number" pattern="(\+|-)?(0|[1-9]+[0-9]*)" id="convert-input" v-model="value">
													<label class="mdl-textfield__label" for="convert-input">Number to convert</label>
													<span class="mdl-textfield__error">Input is not a valid number!</span>
												</div>
											</div>
											<div class="mdl-cell mdl-cell--2-col" style="padding-left: 0.5em;">
												<div class="mdl-textfield mdl-js-textfield">
													<input class="mdl-textfield__input" type="number" pattern="([1-9]+[0-9]*)" id="conver-blength" v-model="blength">
													<label class="mdl-textfield__label" for="conver-blength">Word length (bits)</label>
													<span class="mdl-textfield__error">Not valid!</span>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--2-col">Output:</div>
								<div class="mdl-cell mdl-cell--10-col">
									<div id="result-grid">
										<div class="mdl-grid result-headers app-grid">
											<div class="mdl-cell mdc-cell--4-col">binary</div>
											<div class="mdl-cell mdc-cell--4-col">octal</div>
											<div class="mdl-cell mdc-cell--4-col">hexadecimal</div>
										</div>
										<div class="mdl-grid result-content app-grid">
											<div class="mdl-cell mdc-cell--4-col"><span id="result-binary">{{ result.bin }}</span></div>
											<div class="mdl-cell mdc-cell--4-col"><span id="result-octal">{{ result.oct }}</span></div>
											<div class="mdl-cell mdc-cell--4-col"><span id="result-hexadecimal">{{ result.hex }}</span></div>
										</div>
									</div>
								</div>
							</div>
							<div id="result-error" class="mdl-js-snackbar mdl-snackbar">
								<div class="mdl-snackbar__text"></div>
								<button class="mdl-snackbar__action" type="button"></button>
							</div>
						</div>
						<h3>Motivation</h3>
						<p>
							The exercise of the lecture "Computer Architecture" in my course of studies was to implement
							a program which converts decimal numbers interpreted as ASCII strings into two's complement in binary, octal and hexadecimal representation.
						</p>
						<h4>App</h4>
						<p>
							This app was realized using <a href="https://vuejs.org" target="_blank" rel="nofollow">Vue</a>, a JavaScript MVVM framework,
							and <a href="https://getmdl.io" target="_blank" rel="nofollow">Google's Material Design</a>.
						</p>
						<p>
							You can find its sourcode on <a href="https://codeberg.org/jdoubleu/decimal-to-twoscomplement" target="_blank">Codeberg</a>.
						</p>
					</div>
				</div>
			</main>
		</div>

		<script src="assets/dist/scripts/app.js" type="text/javascript"></script>
	</body>
</html>